@using Project.Models;
@using Project.Models.User;

@{
    ViewBag.Title = "Admin";
    Tuple<HairOrder, User>[] ho = ViewBag.HairOrders;
    Tuple<SeamOrder, User>[] so = ViewBag.SeamOrders;
}

<h2>Admin</h2>

<script>
    $(document).ready(function () {
        $("#seam").hide();
    });

    function showHair() {
        $("#hair").show();
        $("#seam").hide();
    }
    function showSeam() {
        $("#hair").hide();
        $("#seam").show();
    }
</script>

<input type="button" value="Hair orders" onclick="showHair();" />
<input type="button" value="Cloth orders" onclick="showSeam();" />
<hr />

<table id="hair">
    <tr>
        <th>Hair</th>
        <th>Hairdresser Name</th>
        <th>Hairdresser Email</th>
        <th>User Name</th>
        <th>User Email</th>
        <th>Meet At</th>
        <th>Ordered At</th>
        <th>Complete At</th>
        <th>Status</th>
    </tr>
    @foreach (Tuple<HairOrder, User> t in ho)
    {
    <tr>
        <td>@t.Item1.HairName</td>
        <td>@t.Item2.FullName</td>
        <td>@t.Item2.Email</td>
        <td>@t.Item1.Name @t.Item1.Secondname</td>
        <td>@t.Item1.Email</td>
        <td>@t.Item1.MeetAt.ToString("yyyy-MM-dd hh:mm tt")</td>
        <td>@t.Item1.OrderedAt.ToString("yyyy-MM-dd")</td>
        @if (t.Item1.CompleteAt == null)
        {
            <td>Not Complete</td>
        }
        else
        {
            <td>@t.Item1.CompleteAt.ToString()</td>
        }
        <td>@t.Item1.Status</td>
    </tr>
    }
</table>

<table id="seam">
    <tr>
        <th>Cloth</th>
        <th>Seamstress Name</th>
        <th>Seamstress Email</th>
        <th>User Name</th>
        <th>User Email</th>
        <th>Meet At</th>
        <th>Ordered At</th>
        <th>Complete At</th>
        <th>Status</th>
    </tr>
    @foreach (Tuple<SeamOrder, User> t in so)
    {
        <tr>
            <td>@t.Item1.ClothName</td>
            <td>@t.Item2.FullName</td>
            <td>@t.Item2.Email</td>
            <td>@t.Item1.Name @t.Item1.Secondname</td>
            <td>@t.Item1.Email</td>
            <td>@t.Item1.MeetAt.ToString("yyyy-MM-dd hh:mm tt")</td>
            <td>@t.Item1.OrderedAt.ToString("yyyy-MM-dd")</td>
            @if (t.Item1.CompleteAt == null)
            {
                <td>Not Complete</td>
            }
            else
            {
                <td>@t.Item1.CompleteAt.ToString()</td>
            }
            <td>@t.Item1.Status</td>
        </tr>
    }
</table>

